body {
  background-color: white;
  margin: 0;
  height: 100vh;
  font-family: Tahoma;
}

.parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.lichaam {
    padding-bottom: 2.5rem;
}
header {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(4, 101, 101);
}
.Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(4, 101, 101);
}

.midden {
    float: left;
}

.Navtext {
  display: block;
  padding: 20px;
  text-align: center;
  background-color: rgb(4, 101, 101);
  font-family: Tahoma;
  font-size: 20px;
  color: #dddddd;
  text-decoration: none;
}

#NoClick {
    pointer-events: none;
    background-color: rgb(3, 78, 78);
}

/*^^^^voornamelijk Navigatiebalk^^^^*/
main {
    text-align: center;
}

.Karakter {
    text-align: left;
}

.Info {
    display:inline-block;
    position: relative;
    height: 100%;
    width: 39%;
    background-color:rgb(5, 163, 163);
    color:#ffffff;
    margin-right: 2.5%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Blade {
    width: 90%;
    height:25%;
    object-fit:contain;
}
.Hobby {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 39%;
    background-color:rgb(5, 163, 163);
    color: #ffffff;
    margin-left: 2.5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

:hover.Navtext {
    background-color: rgb(7, 146, 146);
}

.hz {
    float: right;
    height: 60px;
    width: 50px;
}
aside {
    position:absolute;
    bottom: 0;
    width: 100vw;
    height: 46px;
    background-color:rgb(4, 101, 101);
    margin-top:auto;
    text-align: center;
    margin: auto;
}

.Bottext {
    display: block;
    padding: 15px;
    text-align: center;
    background-color: rgb(4, 101, 101);
    font-family: Tahoma;
    font-size: 13px;
    color: #dddddd;
    text-decoration: none;
  }
:hover.Bottext {
    color: rgb(173, 163, 163);
}